body{
    margin: 0;
}
nav a{
    color:white;
    text-decoration: none;
}
nav a :hover{
    color:#111;
    text-decoration: none;
}
nav ul li{

    list-style: none;
    display: inline-block;
    margin: 20px;
   

}

.logo-img{
width:100px;
display: inline;
padding: 10px;



}

nav ul li:hover{


    background-color: white;
}




h1{
    font-size: 50px;
}


main{
    padding-left: 50px;
   
}
footer{
    background-color:red;
    color: #ddd;
    text-align: center;



padding: 20px;


}
.text{
    margin: 


 
}



ul {
    background-color:blue;

}
.logo {
   font-size: 50px;
   padding-left: 20px;
   font-weight: 700;
     margin-top: 20px;
   
}
img{
    width: 600px;
    
}
